bin/

var/**
!/var/log/
!/var/log/.gitkeep
!/var/run/
!/var/run/.gitkeep

data/users/
data/outages.csv
data/schedule.csv
data/*.http-cache
*.http-cache
*.log

.env
.env.*
!.env.example
*.local
.idea/
